//Screens
$screen360: 360px;
$screen480: 480px;
$screen640: 640px;
$screen720: 720px;
$screen1000: 1000px;
$screen1250: 1250px;

//Light Mode
$side_colorL: rgb(234, 234, 234);
$mainbox_colorL: rgb(255, 255, 255);
$text_colorL: rgba(34, 36, 34, 0.84);

//Dark Mode
$side_colorD: rgb(0, 0, 0);
$mainbox_colorD: rgba(0, 0, 0, 0.88);
$text_colorD: #00FF00;